.container{
    height: 75vh;
    width : 85%;
    position: absolute;
    left: 8%;
    top : 15%;
    border : 1px solid black;
    background-color: wheat;
    border-radius: 10%;
    transition:  all 0.5s ease-in-out;
    padding : 5%
  
}

.header{
    width : 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
    padding-top: 2%;
}

.header div{
    font-weight: 500;
}